//шрифты
$montserrat: 'Montserrat', sans-serif;
$garamond: 'Garamond', sans-serif;

//цвета
$green: #9db356;
$orange: #ff8361;
$white: #ffffff;
$black: #000000;
$mainGradient: linear-gradient(352deg, #53790973 35%, #ffaf008b 100%);
$grey: #8080808f;
$greyText: #00000085;
$overlay: #00000066;
$lightOverlay: #0000001a;

$border-radius: 5px;
